In [1]:
import pandas as pd

In [2]:

df = pd.read_csv('data.csv', header=None)

In [3]:
 
df[0] = (df[0]-df[0].min())/(df[0].max()-df[0].min())
 
with open('data_processed.csv', 'w') as f:
    for i, item in enumerate(df[0].values):
        f.write("{},{}\n".format(i, item))

In [4]:
data_process = pd.read_csv('data_processed.csv')
data_process

     0       0.0
0    1  0.000364
1    2  0.000486
2    3  0.000486
3    4  0.000607
4    5  0.001214
5    6  0.991622
6    7  0.994900
7    8  0.999514
8    9  0.999514
9   10  0.999757
10  11  1.000000
11  12  0.069573
12  13  0.034240
13  14  0.036061
14  15  0.205804